@import url(./reset.css);

@font-face {


    font-family: 'notosans';
    src: url(../font/NotoSansKR-Regular.ttf);

    font-family: 'soyo_regular';
    src: url(../font/SOYO\ Maple\ Regular.ttf);

    font-family: 'soyo_bold';
    src: url(../font/SOYO\ Maple\ Bold.ttf);


}

:root {
    --maincolor--: #F8B430;
    --subcolor--: #859E8B;
    --subcolor3--: #EBEBEB;
    --f_color--: #333333;


    --mfont--: 'soyo_regular';
    --fontBold--: 'soyo_bold';
    --bfont-: 'notosans';

}

body {
    font-family: var(--bfont-);
}

.t_hidden {
    width: 1px;
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
}

header .headerI {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .headerI h1 {
    margin-left: 35px;
}

header .headerI ul {
    display: flex;
    /* display: none; */
}

header .headerI ul li {
    text-decoration: none;
    font-size: 16px;
    margin: 0 35px;
    font-weight: 600;
    font-family: var(--fontBold--);
}

header .headerI ul li a:hover {
    color: var(--maincolor--);
    transition: 0.3s;
}

header .headerI .ham {
    width: 60px;
    height: 45px;
    margin-right: 35px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

header .headerI .ham span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--maincolor--);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 9999999999999;
}

.ham span:nth-child(1) {
    top: 0px;
}

.ham span:nth-child(2),
.ham span:nth-child(3) {
    top: 18px;
}

.ham span:nth-child(4) {
    top: 36px;
}

.ham.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.ham.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ham.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ham.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#main_banner {
    position: relative;
    margin-bottom: 230px;
    width: 100%;
    height: 600px;
    background-image: url(../img/main_banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#main_banner .main_text {
    position: absolute;
    top: 30%;
    left: 18%;
}

#main_banner .main_text h2 {
    font-family: var(--fontBold--);
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 40px;
    line-height: 150%;
}

#main_banner .main_text p {
    color: #fff;
    line-height: 150%;
}

/* main banner */

#section_01 {
    margin-bottom: 230px;
}

#section_01 .sec1_title span {
    font-weight: 600;
}

#section_01 .sec1_title h2 {
    margin: 48px 0;
    font-family: var(--fontBold--);
    font-size: 2rem;
}

#section_01 .sec1_title p {
    line-height: 160%;
}

#section_01 .sec1_title p:nth-child(1) {
    margin-bottom: 32px;
}

/* section01 */

#section_02 {
    width: 100%;
    /* height: 773px; */
    background-color: var(--subcolor--);
    margin-bottom: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section_02 .sec2_title {
    margin-bottom: 60px;
    margin-top: 60px;
}


#section_02 .sec2_title span {
    font-weight: 600;
}

#section_02 .sec2_title h2 {
    font-family: var(--fontBold--);
    font-size: 2rem;
    margin-top: 8px;
}

#section_02 .container:nth-child(2) {
    margin-bottom: 100px;
}

#section_02 .sec2_img {
    margin-bottom: 85px;
}

#section_02 .sec2_img figure img {
    border-radius: 100%;
}

#section_02 .sec2_contents .sec2_text {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: var(--fontBold--);
}

#section_03 {
    margin-bottom: 230px;

}

#section_03 .sec3_title {
    text-align: center;
    margin-bottom: 60px;
}


#section_03 .sec3_title span {
    font-weight: 600;
}

#section_03 .sec3_title h2 {
    font-family: var(--fontBold--);
    font-size: 2rem;
    margin-top: 8px;
}

#section_03 .sec3_top {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

#section_03 .row {
    margin-bottom: 90px;
}

#section_03 .sec3_top .sec3_text h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 32px;
}

#section_03 .sec3_top .sec3_text p {
    line-height: 160%;
}

#section_03 .sec3_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

#section_03 .sec3_bottom .sec3_text1 {
    margin-bottom: 90px;
}

#section_03 .sec3_bottom .sec3_text1 h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 16px;
}

#section_03 .sec3_bottom .sec3_text1 p {
    line-height: 160%;
}

#section_03 .sec3_bottom .sec3_text2 h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 16px;
}

#section_03 .sec3_bottom .sec3_text2 p {
    line-height: 160%;
}

#section_04 {
    margin-bottom: 230px;

}

#section_04 .sec4_title {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 60px;
}


#section_04 .sec4_title span {
    font-weight: 600;
    margin-top: 60px;
}

#section_04 .sec4_title h2 {
    font-family: var(--fontBold--);
    font-size: 2rem;
    margin-top: 8px;
    margin-bottom: 24px;
}

#section_04 .sec4_title p {
    line-height: 150%;
}

#section_04 .container {
    padding-bottom: 100px;
}

#section_04 .d-block{
    margin-bottom: 24px;
}

#section_04 .thum{
    opacity: 0.5;
}

#section_05 {
    margin-bottom: 230px;
}

#section_05 .sec5_title {
    text-align: center;
    margin-bottom: 80px;
}

#section_05 .sec5_title span {
    font-weight: 600;
}

#section_05 .sec5_title h2 {
    font-family: var(--fontBold--);
    font-size: 2rem;
    margin-top: 8px;
    margin-bottom: 24px;
}

#section_05 .sec5_title p {
    max-width: 1140PX;
    margin : auto;
    line-height: 150%;
}

#section_05 .sec5_text {
    margin-top: 36px;
    text-align: center;
}

#section_05 .sec5_text h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 24px;
}

#section_05 .sec5_contents .sec5_text p {
    line-height: 150%;
}

#section_05 .sec5_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_05 .sec5_contents .sec5_img figure img{
    max-width: 150px;
    max-height: 150px;
}


#section_05 .calender {
    max-width: 1140px;
    margin: auto;
    height: 140px;
    margin-top: 160px;
    background-color: #813F00;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 240px;
    position: relative;
}

#section_05 .calender .bookmark{
    position: absolute;
    top: 0;
    left: 50px;
}

#section_05 .calender .calendar_text{
    padding: 0 150px;
    text-align: left;
}

#section_05 .calender .calendar_text .cal-text-1{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 24px;
}

#section_05 .calender .hello{
    font-size: 1rem;
}


footer {
    width: 100%;
    height: 380px;
    background-color: var(--f_color--);
    color: #fff;

}

footer .container {
    width: 100%;
    height: 100%;
}

footer .container .f_row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

footer .container .f_row .right .text .f_mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px 0;
}

#h_submenu{
    width: 50%;
    height: 100vh;
    background-color:var(--maincolor--);
    color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    font-size: 1.5rem;
    padding: 50px;
    display: none;
    flex-direction: column;
}

#h_submenu.active{
    width: 50%;
    height: 100vh;
    background-color:var(--maincolor--);
    color: #fff;
    position: fixed;
    top: 70px;
    left: 50%;
    z-index: 999;
    font-size: 1.5rem;
    padding: 50px;
    display: block;
    flex-direction: column;
    
}

#h_submenu span{
    align-self: flex-end;
}

#h_submenu ul{
    width: 90%;
    height: 50vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#h_submenu ul li{
    width: 100%;
    position: relative;
    font-family: var(--fontBold--);
}

#top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: var(--subcolor--);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99;
}

#top:hover {
    background-color: var(--maincolor--);
}

@media screen and (max-width : 1530px) {    
    #main_banner .main_text{
        left: 10%;
    }
}

@media screen and (max-width : 1200px) {

    #main_banner .main_text{
        left: 10%;
    }

    #main_banner .main_text h2 {
        font-size: 2rem;
        margin-bottom: 32px;
    }

    #section_01 .sec1_title h2 {
        font-size: 1.7rem;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #section_01 .sec1_title p br {
        display: none;
    }

    #section_02 .sec2_title h2 {
        font-size: 1.7rem;
    }

    #section_02 .sec2_contents {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #section_02 .sec2_img {
        margin-bottom: 52px;
    }

    #section_02 .sec2_img figure img {
        width: 180px;
    }

    #section_02 .sec2_text h3 {
        font-size: 1.5rem;
    }

    #section_03 .sec3_title h2 {
        font-size: 1.7rem;
    }

    #section_03 .sec3_top .sec3_text h2 {
        font-size: 1.5rem;
    }

    #section_03 .sec3_bottom .sec3_text1 h2,
    #section_03 .sec3_bottom .sec3_text2 h2 {
        font-size: 1.5rem;
    }

    #section_03 .sec3_bottom .sec3_text1 {
        margin-bottom: 36px;
    }

    #section_04 .sec4_title h2 {
        font-size: 1.7rem;
    }

    #section_05 .sec5_title h2 {
        font-size: 1.7rem;
    }

    #section_05 .sec5_contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #section_05 .calender{
        max-width: 960px;
    }

    footer .container .f_row .right .text .f_mid {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    footer .container .f_row .right .text .f_mid p:nth-child(2) {
        margin: 32px 0;
    }

}


@media screen and (max-width : 991px) {

    header .headerI ul {
        display: none;
    }

    header .headerI .ham {
        display: flex;
    }

    #main_banner {
        margin-bottom: 150px;
    }

    #main_banner .main_text{
        left: 7%;
    }

    #section_01 {
        margin-bottom: 150px;
    }

    #section_01 .sec1_title p {
        margin-bottom: 60px;
    }
    
    #section_02 {
        margin-bottom: 150px;
    }

    #section_02 .sec2_img {
        margin-bottom: 32px;
    }

    #section_02 .item1 {
        margin-bottom: 100px;
    }

    #section_03{
        margin-bottom: 150px;
    }

    #section_03 .row{
        margin-bottom: 100px;
    }

    #section_03 .sec3_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #section_04{
        margin-bottom: 150px;
    }

    #section_04 .sec4_title p{
        max-width: 690px;
        margin: auto;
    }

    #section_04 .sec4_title p br{
        display: none;
    }

    #section_05 .item1{
        margin-bottom: 100px;
    }

    #section_05 .sec5_contents .sec5_img figure img{
        max-width: 120px;
        max-height: 120px;
    }

    #section_05 .calender{
        max-width: 690px;
    }

    #section_05 .calender .dignose_text{
        margin-left: 20%;
    }

    footer .right .text p:nth-child(1){
        line-height: 150%;
    }

    footer .container .f_row .right .text .f_mid{
        margin: 32px 0;
    }
}

@media screen and (max-width : 767px){
    #main_banner {
        margin-bottom: 120px;
    }

    #section_01, #section_02, #section_03, #section_04, #section_05 {
        margin-bottom: 120px;
    }
    
    #section_05 .calender {
        margin-top: 120px;
        margin-bottom: 0;
    }

    #section_01 .sec1_title h2{
        font-size: 1.5rem;
    }

    #section_02 .sec2_title h2{
        font-size: 1.5rem;
    }

    #section_02 .item1{
        margin-bottom: 48px;
    }

    #section_02 .sec2_text h3 {
        font-size: 1.2rem;
    }

    #section_03 .sec3_title h2 {
        font-size: 1.5rem;
    }

    #section_03 .sec3_top .sec3_text h2{
        font-size: 1.2rem;
    }

    #section_03 .sec3_bottom .sec3_text1 h2{
        font-size: 1.2rem;
        margin-top: 32px;
        margin-bottom: 20px;
    }
    
    
    #section_03 .sec3_bottom .sec3_text2 h2{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    
    #section_04 .sec4_title h2{
        font-size: 1.5rem;
    }

    #section_05 .sec5_title h2 {
        font-size: 1.5rem;
    }

    #section_04 .sec4_title p {
        max-width: 510px;
    }

    #section_04 .thum-box{
        max-width: 510px;
        margin-right: -15px;
        margin-left: -15px;
        margin: auto;
    }

    #section_04 .thum-box .thum_i{
        padding: 8px 4px ;
    }

    #section_05 .sec5_title p {
        max-width: 510px;
    }

    
    #section_05 .sec5_title p br{
        display: none;
    }

    #section_05 .sec5_contents .sec5_img figure img {
        height: 100px;
    }

    #section_05 .sec5_text h3{
        font-size: 1.2rem;
    }

    #section_05 .calender{
        max-width: 510px;
    }

    #section_05 .calender .bookmark {
        left: 30px;
    }

    #section_05 .calender .bookmark figure img{
        width: 50px;
    }

    #section_05 .calender .calendar_text .cal-text-1 {
        margin-bottom: 16px;
    }

    #section_05 .calender .calendar_text{
        width: 100%;
        padding: 0;
        padding-left: 100px;
    }

    #section_05 .calender .calendar_text p{
        line-height: 150%;
    }

    footer .f_main .left .f_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
    }

    footer{
        height: fit-content;
    }

    footer .container .f_row .right .text{
        text-align: center;
        margin-bottom: 60px;
    }

    footer .container .f_row .right .text .f_mid {
        display: flex;
        align-items: center;
        margin: 24px 0;
    }

    footer .container .f_row .right .text .f_mid p:nth-child(2){
        margin: 24px 0;
    }
}

@media screen and (max-width : 575px) {
    #main_banner .main_text h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #main_banner .main_text p {
        text-align: center;
    }

    #main_banner .main_text{
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }

    #section_02 .sec2_contents{
        margin-bottom: 60px;
    }

    #section_04 .sec4_title p{
       max-width: 400px;
    }

    #section_04 .sec4_title p br{
        display: none;
    }

    #section_05 .sec5_title p br{
        display: none;
    }

    #section_05 .sec5_title p {
        max-width: 400px;
    }

    #section_05 .sec5_contents {
        margin-bottom: 60px;
    }

    #section_05 .calender{
        max-width: 400px;
    }
    
}

@media screen and (max-width : 400px) {
    header .headerI h1 img{
        width: 120px;
    }

    #main_banner .main_text{
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    #section_01 .sec1_title h2 {
        font-size: 1.2rem;
    }

    #section_02 .sec2_title h2{
        font-size: 1.2rem;
    }

    #section_02 .sec2_img figure img {
        width: 120px;
    }

    #section_02 .container:nth-child(2){
        margin-bottom: 0;
    }

    #section_03 .sec3_title h2 {
        font-size: 1.2rem;
    }

    #section_03 .sec3_top .sec3_text h2{
        font-size: 1rem;
    }

    #section_03 .sec3_bottom .sec3_text1 h2, #section_03 .sec3_bottom .sec3_text2 h2 {
        font-size: 1rem;
    }

    #section_04 .sec4_title h2{
        font-size: 1.2rem;
    }

    #section_04 .sec4_title p{
        max-width: 366px;
    }

    #section_05 .sec5_title h2 {
        font-size: 1.2rem;
    }

    #section_05 .sec5_title p{
        max-width: 366px;
        line-height: 160%;
    }

    #section_05 .sec5_contents .sec5_img figure img {
        height: 80px;
    }

    #section_05 .calender{
        max-width: 366px;
    }

    #section_05 .calender .bookmark figure img {
        width: 40px;
    }

    #section_05 .calender .calendar_text .cal-text-1{
        font-size: 1.2rem;
    }

    #section_05 .calender .calendar_text {
        padding-left: 80px;
    }

    footer .f_main .left .f_logo figure img{
        width: 150px;
    }

    footer .container .f_row .right .text{
        font-size: 0.75rem;
    }

    #h_submenu ul li{
        font-size: 1.2rem;
    }
}

@media screen and (max-height : 400px) {
    /* 모바일 가로 버전 */

    #section_05 .sec5_title{
        width: 510px;
        margin: auto;
        margin-bottom: 32px;
    }
    #section_05 .sec5_title p br{
        display: none;
    }

    

    #h_submenu ul li{
        margin-bottom: 24px;
    }
}